Projekat/Backend/VBIS_Projekat/src/main/resources/schemas/oglas-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="List">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="naslov" type="xs:string"/>
                            <xs:element name="opis" type="xs:string" minOccurs="0"/>
                            <xs:element name="plata" type="xs:decimal"/>
                            <xs:element name="agencijaId" type="xs:string"/>
                            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>